@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.card {
    margin: 20px;
}

.jumbotron {
    background-color: rgba(50, 50, 179, 0.865);
    color: white;
    text-align: center;
    border: cornsilk;
    font-family: 'Anton', sans-serif;
}

